
 .partners-container {
  background-color: #070A0F;
  color: white;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 590px;
  overflow: hidden;
  margin-bottom: 40px;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}


.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px 40px;
  justify-items: center;
}



.partner-box {
  background: #000;
  padding: 9px;
  border-radius: 12px;
  width: 100%;
  max-width: 220px;
  aspect-ratio: 16/9;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 6px;
}



@media (max-width: 768px) 
{

  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 16px 32px;
  }
  .partner-box {
    max-width: 180px;
    padding: 12px;
  }
}



@media (max-width: 480px) {
  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 12px 24px;
  }
  .partner-box {
    max-width: 140px;
    padding: 8px;
  }
}

