@font-face {
  font-family: 'BARLOW';
  src: url('../assets/Barlow-ExtraLight.ttf') format('truetype');
}

.hero-container {
  position: relative !important;
  width: 100% !important;
  height: 140vh !important;
  overflow: hidden !important;
  padding-top:25px; 
}


.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%; 
  display: block;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  max-width: 50%;
  opacity: 88%;
}


.hero-content h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero-line {
  width: 100px;
  height: 3px;
  background-color: white;
  margin: 10px auto;
}

.hero-content p {
  font-size: 22px;
  line-height: 1.5;
  opacity: 0.9;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 43px; /* Reduced from 50px */
    line-height: 1.1;
  }
  
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 34px; /* Further reduction for small phones */
    line-height: 1.2;
  }
}