.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../assets/earth.jpg") no-repeat center center/cover;
  }
  
  .hero-text {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 3rem;
    color: white;
    font-weight: bold;
  }
  